.stateface:after {
    font-family: StateFaceRegular;
    margin-left: 0.25em;
}

.stateface-replace {
    text-indent: -999em;
    display: inline-block;
    position: relative;
    min-width: 1em;
}

.stateface-replace:after {
    position: absolute;
    left: 0;
    top: 0;
    text-indent: 0;
}

.stateface-ak:after {
    content: "A";
}

.stateface-al:after {
    content: "B";
}

.stateface-ar:after {
    content: "C";
}

.stateface-az:after {
    content: "D";
}

.stateface-ca:after {
    content: "E";
}

.stateface-co:after {
    content: "F";
}

.stateface-ct:after {
    content: "G";
}

.stateface-dc:after {
    content: "y";
}

.stateface-de:after {
    content: "H";
}

.stateface-fl:after {
    content: "I";
}

.stateface-ga:after {
    content: "J";
}

.stateface-hi:after {
    content: "K";
}

.stateface-ia:after {
    content: "L";
}

.stateface-id:after {
    content: "M";
}

.stateface-il:after {
    content: "N";
}

.stateface-in:after {
    content: "O";
}

.stateface-ks:after {
    content: "P";
}

.stateface-ky:after {
    content: "Q";
}

.stateface-la:after {
    content: "R";
}

.stateface-ma:after {
    content: "S";
}

.stateface-md:after {
    content: "T";
}

.stateface-me:after {
    content: "U";
}

.stateface-mi:after {
    content: "V";
}

.stateface-mn:after {
    content: "W";
}

.stateface-mo:after {
    content: "X";
}

.stateface-ms:after {
    content: "Y";
}

.stateface-mt:after {
    content: "Z";
}

.stateface-nc:after {
    content: "a";
}

.stateface-nd:after {
    content: "b";
}

.stateface-ne:after {
    content: "c";
}

.stateface-nh:after {
    content: "d";
}

.stateface-nj:after {
    content: "e";
}

.stateface-nm:after {
    content: "f";
}

.stateface-nv:after {
    content: "g";
}

.stateface-ny:after {
    content: "h";
}

.stateface-oh:after {
    content: "i";
}

.stateface-ok:after {
    content: "j";
}

.stateface-or:after {
    content: "k";
}

.stateface-pa:after {
    content: "l";
}

.stateface-ri:after {
    content: "m";
}

.stateface-sc:after {
    content: "n";
}

.stateface-sd:after {
    content: "o";
}

.stateface-tn:after {
    content: "p";
}

.stateface-tx:after {
    content: "q";
}

.stateface-us:after {
    content: "z";
}

.stateface-ut:after {
    content: "r";
}

.stateface-va:after {
    content: "s";
}

.stateface-vt:after {
    content: "t";
}

.stateface-wa:after {
    content: "u";
}

.stateface-wi:after {
    content: "v";
}

.stateface-wv:after {
    content: "w";
}

.stateface-wy:after {
    content: "x";
}

