<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Pedagogy of Data Visualization Workshop">
    <title>Pedagogy of Data Visualization Workshop</title>

    <link href="{{ site.github.url }}/2016/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ site.github.url }}/2016/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="{{ site.github.url }}/2016/css/stateface.css" rel="stylesheet">
    <!-- <link href="{{ site.github.url }}/2016/css/pdvw2016.css" rel="stylesheet"> -->
    <link href="/2016/css/pdvw2016.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1>
            Pedagogy of Data Visualization<br/>
            <small>Workshop at IEEE VIS 2016 &bull; October 2016 &bull; Baltimore, MD</small>
          </h1>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4 col-sm-push-8">
          <div class="panel panel-default">
            <div class="panel-body">
              <h5 class="text-uppercase">Navigation</h4>
              <ul class="list-unstyled">
                <li><a href="{{ site.github.url }}/2016/index.html"><span class="glyphicon glyphicon-home"></span></a> <a href="{{ site.github.url }}/2016/index.html">Home</a></li>
                <li><a href="{{ site.github.url }}/2016/schedule.html"><span class="glyphicon glyphicon-time"></span></a> <a href="{{ site.github.url }}/2016/schedule.html">Workshop Schedule</a></li>
                <li><a href="{{ site.github.url }}/2016/cfp.html"><span class="glyphicon glyphicon-list-alt"></span></a> <a href="{{ site.github.url }}/2016/cfp.html">Call for Participation</a></li>
                <li><a href="{{ site.github.url }}/2016/about.html"><span class="glyphicon glyphicon-info-sign"></span></a> <a href="{{ site.github.url }}/2016/about.html">About PDVW 2016</a></li>
              </ul>

              <div class="hidden-xs">

                <h5 class="text-uppercase shift-down">Important Dates</h5>

                <div class="table-responsive">
                  <table class="table table-hover table-sidebar table-dates">
                    <tbody>
                      <tr>
                        <th>7/25/16</th>
                        <td>Deadline for submission</td>
                      </tr>

                      <tr>
                        <th>8/15/16</th>
                        <td>Notification of acceptance</td>
                      </tr>

                      <tr>
                        <th>8/31/16</th>
                        <td>Camera-ready papers due</td>
                      </tr>

                      <tr>
                        <th>10/??/16</th>
                        <td>PDVW 2016 @ VIS</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <h5 class="text-uppercase">Organizers</h5>

                <table class="table table-hover table-sidebar" style="width: auto;">
                  <tbody>
                    <tr>
                      <td><a href="http://cs.usfca.edu/~apjoshi/">Alark Joshi</a></td>
                      <td><span class="stateface stateface-ca">USF</span></td>
                      <td><span class="label label-default">Chair</span></td>
                    </tr>

                    <tr>
                      <td><a href="http://www.cond.org/">Eytan Adar</a></td>
                      <td><span class="stateface stateface-mi">UMich</span></td>
                      <td></td>
                    </tr>

                    <tr>
                      <td><a href="http://sjengle.cs.usfca.edu/">Sophie Engle</a></td>
                      <td><span class="stateface stateface-ca">USF</span></td>
                      <td></td>
                    </tr>

                    <tr>
                      <td><a href="http://people.ischool.berkeley.edu/~hearst/">Marti Hearst</a></td>
                      <td><span class="stateface stateface-ca">UCB</span></td>
                      <td></td>
                    </tr>

                    <tr>
                      <td><a href="http://www-users.cs.umn.edu/~keefe/">Daniel Keefe</a></td>
                      <td><span class="stateface stateface-mn">UMN</span></td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>

                <!--
                <ul class="list-unstyled">
                  <li><a href="http://cs.usfca.edu/~apjoshi/">Alark Joshi</a>, USF &nbsp;<span class="label label-default">Chair</span></li>
                  <li><a href="http://www.cond.org/">Eytan Adar</a>, UMich</li>
                  <li><a href="http://sjengle.cs.usfca.edu/">Sophie Engle</a>, USF</li>
                  <li><a href="http://people.ischool.berkeley.edu/~hearst/">Marti Hearst</a>, UCB</li>
                  <li><a href="http://www-users.cs.umn.edu/~keefe/">Daniel Keefe</a>, UMN</li>
                </ul>
                //-->

                <h5 class="text-uppercase shift-down">Contact</h5>

                <ul class="list-unstyled">
                  <li><a href="mailto:apjoshi@usfca.edu"><span class="glyphicon glyphicon-envelope"></span> apjoshi@usfca.edu</a></li>
                </ul>

                <h5 class="text-uppercase shift-down">Links</h5>

                <div class="media">
                  <div class="media-left media-middle">
                    <a href="#">
                      <img class="media-object" src="{{ site.github.url }}/2016/images/ieeevis.jpg" width="32">
                    </a>
                  </div>
                  <div class="media-body"><small class="text-muted">Held in conjunction with</small><br/><a href="http://ieeevis.org/">IEEE VIS 2016</a></div>
                </div>

                <div class="media">
                  <div class="media-left media-middle">
                    <a href="#">
                      <img class="media-object" src="{{ site.github.url }}/2016/images/usfvgl.png" width="32">
                    </a>
                  </div>
                  <div class="media-body"><a href="http://vgl.cs.usfca.edu/">Visualization and Graphics Lab</a><br/><a href="https://www.usfca.edu/">University of San Francisco</a></div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-8 col-sm-pull-4">
          <h2 class="page-header">{{ page.title }}</h2>

          {{ content }}
        </div>
      </div>
    </div>

    <script src="{{ site.github.url }}/2016/js/jquery.min.js"></script>
    <script src="{{ site.github.url }}/2016/js/bootstrap.min.js"></script>
  </body>
</html>
